<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HTMX Counter</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
  </head>

  <body>

  <section class='h-screen bg-zinc-50 flex items-center justify-center gap-4 ' >
  <button 
  hx-target="#counter" 
  hx-post="/decrease"
  class='bg-red-500 p-4 rounded '
  >
  Decrease
  </button>

  <div class="text-zinc-900 text-xl" id="counter">0</div>

  <button 
  hx-target="#counter" 
  hx-post="/increase"
  class='bg-blue-500 p-4 rounded'
  >
  Increase
  </button>

  </section>

  </body>

</html>
